.todoListMain .header input {
    padding: 10px; 
    font-size: 16px;
    border: 2px solid #DDE2E3;
    width: 165px; 
}


.todoListMain .header button {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    margin-right: 0px;
    background-color: #5B7D87;
    color: #DDE2E3;
}

.todoListMain .header button:hover {
    background-color: #91B3BC;
    border: 2px, solid, #91B3BC;
    cursor: pointer;
}

.todoListMain .theList li {
    color: #DDE2E3;
    background-color: #5B7D87;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    list-style: none;
    transition: background-color .2 ease-out; 
}

.todoListMain .theList li:hover {
    background-color: #91B3BC; 
    cursor: pointer; 
}

ul.theList {
    padding: 0; 
}